image: node:lts

stages:
  - install-dependencies
  - build
  - deploy

cache:
  paths:
    - node_modules/

# Need to pay for the schema validation (49 USD / month)
#schema-check:
#  stage: test
#  script:
#    - npx apollo service:check --tag=staging --endpoint=${ENDPOINT}
#  only:
#    - development

install-dependencies:
  stage: install-dependencies
  script:
    - yarn install
  artifacts:
    paths:
      - node_modules/
  only:
    - development
    - demo
    - master

build:
  stage: build
  script:
    - yarn run build
  only:
    - development
    - demo
    - master

deploy-app:
  image: alpine
  stage: deploy
  environment:
    name: app
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
  script:
    - ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $USERNAME@$HOST "
      REACT_APP_ENVIRONMENT=${REACT_APP_ENVIRONMENT}
      REACT_APP_API_URL=${REACT_APP_API_URL}
      cd $DIRECTORY && git pull && docker-compose build && docker-compose up -d && exit"
    - rm -rf ~/.ssh/id_rsa
    - 'echo Deploy done [ $(date "+%F %H:$M:$S") ]'
  only:
    - master

deploy-sote:
  image: alpine
  stage: deploy
  environment:
    name: sote
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
  script:
    - ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $USERNAME@$HOST "
      REACT_APP_ENVIRONMENT=${REACT_APP_ENVIRONMENT}
      REACT_APP_API_URL=${REACT_APP_API_URL}
      cd $DIRECTORY && git pull && docker-compose build && docker-compose up -d && exit"
    - rm -rf ~/.ssh/id_rsa
    - 'echo Deploy done [ $(date "+%F %H:$M:$S") ]'
  only:
    - master

deploy-unesco:
  image: alpine
  stage: deploy
  environment:
    name: unesco
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
  script:
    - ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $USERNAME@$HOST "
      REACT_APP_ENVIRONMENT=${REACT_APP_ENVIRONMENT}
      REACT_APP_API_URL=${REACT_APP_API_URL}
      cd $DIRECTORY && git pull && docker-compose build && docker-compose up -d && exit"
    - rm -rf ~/.ssh/id_rsa
    - 'echo Deploy done [ $(date "+%F %H:$M:$S") ]'
  only:
    - master

deploy:
  image: alpine
  stage: deploy
  environment:
    name: demo
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
  script:
    - ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $USERNAME@$HOST "
      REACT_APP_ENVIRONMENT=${REACT_APP_ENVIRONMENT}
      REACT_APP_API_URL=${REACT_APP_API_URL}
      cd $DIRECTORY && git pull && docker-compose build && docker-compose up -d && exit"
    - rm -rf ~/.ssh/id_rsa
    - 'echo Deploy done [ $(date "+%F %H:$M:$S") ]'
  only:
    - demo
