version: '3.5'

services:
  cogito-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '${REACT_APP_PORT}:80'
    environment:
      - NODE_ENV=production
      - REACT_APP_ENVIRONMENT=${REACT_APP_ENVIRONMENT}
      - REACT_APP_API_URL=${REACT_APP_API_URL}
