version: '3.5'

services:
  cogito-frontend:
    container_name: cogito-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:80'
    environment:
      - NODE_ENV=production
      - REACT_APP_ENVIRONMENT=${REACT_APP_ENVIRONMENT}
      - REACT_APP_API_URL=${REACT_APP_API_URL}
      - REACT_APP_S3_BUCKET=${REACT_APP_S3_BUCKET}
