.ql-mark-added {
  background-color: aqua;
}

.ql-mark-deleted {
  background-color: red;
}

@keyframes fadein {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes growin {
  from {
    font-size: 1px;
  }
  to {
    font-size: inherit;
  }
}

.ql-mark-addedBySomeone {
  background-color: #cce1ff;
  animation: fadein 0.5s, growin 0.5s;
}

.ql-editor {
  flex-grow: 1;
  outline: none;
}
